*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    color:#636363;
    font-weight: 400px;
    line-height: 1.6;
}

/* header  */
header{
    /* background-image: url(../img/pic2.png);  */
    /* height: 400px;  */
    padding : 30px 0px;
    /* background-position: center;
    background-size: cover; */
    position: absolute;
    z-index: 1;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: auto;
}
.header__content ul{
    list-style: none;
}
.header__content li{
    display: inline;
    padding-left: 20px;
}
.header__content a{
    text-decoration: none;
    padding-right: 10px;
    color: black;
}

.header__button{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.header__button:hover{
    background-position: right center;
}
ul span{
    display: inline-block;
}
ul a:hover, .title p{
    color: #f55f8d;
}
.header__menu a:hover span{
    animation: upToDown .2s;
}
/* carousel  */
.carousel{
  background-image: url(../img/pic2.png);
  overflow: hidden;
  background-position: top;
  background-size: 100%;
  padding-top: 180px;
  position: relative;
}
.carousel1{
    max-width: 1199px;
    margin: auto;
}
.carousel__content{
    /* width: 88%;
    margin: auto; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.carousel__item{
    width: 60%;
}
.item1{
    width: 40%;
}
.carousel__item2 img{
    width: 100%;
    height: 100%;
}
.carousel__item2{
    width: 570px;
    margin-left: 50px
}
.carousel__item h2{
    padding: 10px 0px;
}
.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}
.title h2{
    font-size: 70px;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px
}
.title2 p{
    font-size: 18px;
    margin-bottom: 15px;
}
.title2 ul{
    list-style: none;
}
.title2 i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
    margin-bottom: 15px;
}
.carousel__button{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    /* outline: 0; */
    /* text-transform: uppercase; */
    line-height: 1.2;
}
.carousel__button:hover{
    background-position: right center;
}
@keyframes upToDown{
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
/* service */
.service{
    padding:30px 0;
    text-align: center;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
}
.service_content{
    width: 1199px;
    margin: auto;
}
.service_title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.service_title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.service_content2{
    display: flex;
    gap:30px;
    margin-top: 40px;
}
.service_item img{
    width: 215px;
}
.service_item{
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 40px 30px;
    transform: translateY(0);
    transition: all .5s;
}
.service_item h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}
.service_item:hover{
     transform: translateY(-20px);
}
/* ABOUT US  */
.aboutUs{
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}
.aboutUs1{
    max-width: 1199px;
    margin: auto;
}
.aboutUs_content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.aboutUs_left{
    width: 60%;
    position: absolute;
    left: -17%;
}
.aboutUs_left img{
    width:100%;
    border-radius: 0 100px 100px 0;
}
.aboutUs_img{
    width: 570px;
    margin-left: 50px
}
.aboutUs_right{
    width: 50%;
}
.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.aboutUs_content ul{
    margin-bottom: 30px;
    list-style: none;
}
.aboutUs_content p{
    margin-bottom: 15px;
}
.aboutUs_right li{
    margin: 10px 0px;
}
.aboutUs_content i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
.aboutUs_button{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.aboutUs_button:hover{
    background-position: right center;
}
/* number  */
.number{
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}
.number1{
    max-width: 1199px;
    margin: auto;
}
.number__content{
    display: flex;
    justify-content: space-around;
}
.number__item{
    width: 25%;
}
.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}
.number__item p:last-of-type{
    color: #262626;
    font-size: 18px;
}
 /* features  */
 .features{
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
    padding-top: 115px;
}
.features1{
    max-width: 1199px;
    margin: auto;
}
.features__content{
    display: flex;
}
.features__left , .features__right{
    width: 50%;
}
.features__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.features__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.features__bg{
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.features__item{
    padding: 0 50px 30px 0;
}
.features__item:nth-of-type(2){
    padding: 0 0 30px 50px;;
}
.features__item i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}
.features__item div{
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}
.features__item h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}
.features__bg::after {
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}
.features__bg:hover::after{
    opacity: 1;
}
.features__bg:hover div, .features__bg:hover h3, .features__bg:hover i {
    color: #fff;
}
.features__banner{
    margin-right: -80px;
}
.features__banner img {
    max-width: 100%;
    animation: move 5s infinite;
}
@keyframes move{
    0% {
        transform: rotate(1deg) translate(2px,2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100% {
        transform: rotate(1deg) translate(2px,2px);
    }
} 
/* Portfolio  */
.portfolio {
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.portfolio1{
    max-width: 1199px;
    margin: auto;
}
.portfolio__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.portfolio__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.portfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}
.portfolio__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio__item img{
    width: 100%;
    height: 100%;
}
.portfolio__item1{
    grid-column: 1/span 2;
}
.portfolio__item5{
    grid-column: 1/span 2;
}
.portfolio__item6{
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}
.portfolio__item:hover::before{
    left: 125%;
}
.portfolio__overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
}
.portfolio__item:hover .portfolio__overplay{
    opacity: 1;
}
.portfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}
.portfolio__item:hover .portfolio__icon{
    transform: translate(0);
}
.portfolio__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}
.portfolio__text h3{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}
.portfolio__item:hover:hover .portfolio__text{
    transform: translate(0);
}
/* plan  */

.plan{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0;
}
.plan1{
    max-width: 1199px;
    margin: auto;
}
.plan__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.plan__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.plan__content{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.plan__item{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50pxrgb(0,0,0,.1);
    border-image: 100 round;
    transition: all .5s;
}
.plan__item:hover{
    border-image: url(../img/br.png) 1 round;
}
.plan__item img{
    width: 100%;
}
.plan__item h3{
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan__item p span:first-of-type{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan__item ul{
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
    list-style: none;
}
.plan__item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.plan__item li{
    padding: 5px 0;
}
.plan__button{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.plan__button:hover{
    background-position: right center;
}
/* staff  */
.staff{
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.staff1{
    max-width: 1199px;
    margin: auto;
}
.staff__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.staff__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.staff__content{
    min-height: 300px;
}
.testimonial-thumbs{
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}
.testimonial-thumbs::before{
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial-thumbs::after , .testimonial-thumbs::before{
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
.staff__content1{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.staff_item{
    transform: translateZ(0);
    backface-visibility: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.staff__text{
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative;
}
.staff__text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}
.staff__text h3{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}
.staff__text p:first-of-type{
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
    padding: 0;
}
.staff__text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}
.staff__img{
    padding: 30px 0 0;
    transition: all .5s;
}
.staff__img img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
.testimonial__pic::after, .testimonial__pic::before{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial__pic::after, .swiper-slide-thumb-active .testimonial__pic::before{
    opacity: 1;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial__pic{
    padding: 0 0 40px;
}
.testimonial__pic::before{
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial__pic::after{
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial__pic .staff__shape::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}
.testimonial__pic .staff__shape{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial__pic .staff__shape{
    opacity: 1;
}
.staff__comment{
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}
.swiper-pagination{
    text-align: center;
    position: relative;
    z-index: 11;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    cursor: pointer;
    background: #f55f8d;
    margin: 0 4px;
}
/* blog  */
.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}
.blog1{
    max-width: 1199px;
    margin: auto;
}
.blog__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.blog__title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.blog1__content{
    display: block;
}
.owl-carousel .owl-stage-outer{
    position: relative;
    overflow: hidden;
}
.blog__item{
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog__header{
    position: relative;
}
.blog__header img{
    width: 100%;
    border-radius: 8px;
}
.blog__header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog__body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__body h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__footer{
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog__footer p:first-of-type {
    margin-right: 20px;
}
.blog__footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__footer span:last-of-type{
    color: #f55f8d;
}
/* footer  */
footer{
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer1{
    max-width: 1199px;
    margin: auto;
}
.footer__top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer__text , .footer__form{
    width: 50%;
}
.footer__text h2{
    font-size: 28px;
    color: #262626;
}
.footer__form form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}
.footer__form input:hover{
    border-color: #f55f8d;
}
.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer__form button:hover{
    background-position: right center;
}
@keyframes toleftfromright{
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}
.footer__form button:hover i{
    animation: toleftfromright .5s forwards;
    display: inline-block;
}
.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer__item {
    width: 25%;
}
.footer__item a{
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    text-decoration: none;
}
.footer__item ul{
    list-style: none;
}
.footer__item li{
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer__contact i{
    font-weight: 700;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer__item h3::after, .footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer__item h3::before {
    width: 15px;
}
.footer__item h3::after {
    width: 45px;
    left: 20px;
}
.footer__item a:hover{
    color: #fff;
}
.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}
.footer2{
    background-color: #1f343b;
    padding: 10px 30px;
    position: relative;
}
.footer__left span:nth-last-of-type(2){
    color: #f55f8d;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__right a{
        height: 32px;
        width: 32px;
        line-height: 32px;
        text-align: center;
        display: inline-block;
        border-radius: 50px;
        font-size: 14px;
        color: #fff;
        background-color: rgba(255,255,255,.1);
        transition: all .5s;
 }
 /* an nut  */
.Backtotop{
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}
/* hien nut  */
.cd-top--is-visible{
    /* visibility: visible; */
    opacity: 1;
}